{%  extends 'base.html' %}

{% block content %}
    <h1>Hello!</h1>
    <article>
        Columbia Art and Drafting knows the Portland artist and student community. At Columbia we understand your work
        is special so why would your art supplies be any less unique? We have a diverse selection of the finest art
        supplies here in Portland. And we’re more than just paper, paint and pencils. We offer the area’s widest
        selection of drafting supplies, art books, airbrush and custom framing plus much more all from an
        independently-owned, family-run operation with knowledgeable, friendly staff. We’re more than willing to help
        you find the right touch for your project. Whether you’re looking for the perfect pigment for your palette,
        just the right tool or a gift for the art-lover in the family, Columbia offers a one stop shopping experience.
        We’re located in the heart of the Eastside of PDX, just a stone’s throw from downtown with convenient access to
        public transit. Come visit Columbia and make us the final touch on your masterpiece.</article>
{% endblock %}

